body {
    font-family: Roboto, sans-serif;
    text-align: center;
}

header {
    padding: 24px 0px;
    background-color: burlywood;
    font-size: 24px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 60vh;
}

img {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
}

button {
    padding: 40px;
    cursor: pointer;
    margin-top: 20px;
    border: 6px solid slategray;
    background: none;
    border-radius: 99999px;
}

button.pressed {
    border: 6px solid red;
}


.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 64px;
    flex-wrap: wrap;
}

.badge {
    font-weight: bold;
    margin-right: 10px;
}

#player-stats, 
#computer-stats {
    font-size: 36px;
}

.choices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px;
}

.round-message {
    font-size: 28px;
}
