body{
    font-family: Roboto, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
}

img {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
}

button {
    padding: 40px;
    cursor: pointer;
    margin-top: 20px;
    border: 3px solid slategray;
    background: none;
    border-radius: 50%;
}


.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 64px;
    flex-wrap: wrap;
}

.badge {
    font-weight: bold;
    margin-right: 10px;
}

#player-stats, #computer-stats {
    font-size: 36px;
}

.choices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px;
}